
*{ 
    color:black;      /*universal selector*/
}
/*remember here in css the after styles are given priority,also here the universal selector is not given any peiority*/

h1{
    color:rgb(255,0,0);  /*element selector*/ 
}
h3{
    color:#000000;
}
h2{
    color: #eeff00;  /*hexadecimal*/
}

body{
    background-color: rgb(194, 155, 89);             
}

button{
    background-color: #ffff00;
    color:black;
}

#heading1{
    color:blue;      /*id selector : different element differnet id
                        remembr differnt element should not have same id ,it should be unique*/
}
#heading2{
    color:azure;
}

.class1{
    color: green;    /*class selector Selects elements with a specific class attribute*/

}
