div{
    height:100px;
    width:100px;
    background-color: blanchedalmond;
    border:3px dotted black;
   /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay: 1s;*/

    transition:font-size 2s ease-in-out 0.2s;
}

/*pseudo classes*/
div:hover{
    background-color: rgb(0, 255, 136);
    color:white;
    text-decoration: underline;
    font-size: 4px;
    
   
}

div:active{   /*on click*/
    background-color: blueviolet;
    font-size: 20px;
    
}