div{
    height: 100px;
    width: 100px;
    position:absolute;
    top: 200px;
    left:300px;
    background-color: yellow;
    border:2px solid black;
    /*transform: rotate(90deg);*/
    /*rotate: x 90deg;*/
/*transition: all 2s ease-out;
   /* transform: scale(2);   /*times the actual size*/
    /*if wanna x and y axis in different scALE*/
   /* transform: scaleX(1);*/
   /*animation-name: color;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3; 
    animation-direction: reverse;   /*for position*/

animation:color 5s ease-in 0s 3 normal;


}

/*div:hover{
    background-color: chartreuse;
   /*transform: rotate(180deg);*/
    /*transform: scaleY(3);*/
    /*transform: translateY(-300px);*/
    /*transform: skew(90deg);*/
    

/*p{
    animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: reverse;
}

@keyframes animation{
            from {font-size:100px};
        to {font-size : 10px};
        }*/

        
@keyframes color{
    /*from*/0% {left:0px;
        background-color: yellow;}

        50%{
            background-color: black;
        }
   /*to*/ 100%{left:200px;
        background-color: red;
    color:white}
}

