#one{
    height:100px;
    width: 100px;
    background-color: red;
    font-size: 15px;
    
}
/*here one is paretn and two is child*/

#two{
    height: 50px;
    width: 30%;                  /*30% means from the 100px width of parent i.e one  child i.e two gets 30% sapce in it*/
    background-color: yellowgreen;
    margin-left: 20%;
    font-size: 1em;  /* here 1em means the child font will be same as the parent have in this case its 15px,but if we need the font size double it "2em"(2 time s of parent font size) and further it can be increased*/
    /*width: 2em;      here fontsize of element it self is seen as in this the width will be double of font size 1em*2em=30px*/
    width:3rem;  /*  sets the width with default width of root element,here the  namaste has width 16px and after rem it the width of child div becomes  32 "16*2"*/
    height:50vh;
    width:100vw;   /* vh means how much it covers the height of browser screen and vw mane the width it covers*/
}