ul{
    background-color: papayawhip;
    display:flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
  
    color:black;
    
    
}

li{
    list-style-type: none;
    background-color: aliceblue;
      
}

.outer{
    height: 300px;
    width: 300px;
    background-color: aqua;
    display:flex;
    justify-content: center;
    align-items: center;   /*for cross axis*/
}


.inner{
    height: 200px;
    width: 200px;
    background-color: rgb(60, 255, 0);
}